$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/** Vars **/
$theme1: #ecf0f1;
$theme2: #34495e;
$border: #ecf0f1;

/** Bootstrap Vars **/
$navbarBackground: $theme2;
$navbarBackgroundHighlight: lighten($navbarBackground, 10);
$navbarLinkColor: white;
$navbarLinkColorHover: white;
$navbarLinkColorActive: white;
$bodyBackground: #000;
$dropdownBackground: $theme2;
$dropdownLinkColor: white;
$hrBorder: $theme2;
$heroUnitBackground: lighten($theme1, 20);
$dropdownLinkColorHover: $theme1;

@import "bootstrap-sass/lib/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import "mixins.scss";

/* Put your CSS here */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  margin: 30px 20px 20px 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.heading {
    font-family: 'Vollkorn', serif;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 50px;
    margin: 0;
    width: 100%;
    color: #f6631c;

}

.code {
    font-size: .7em;
}

/* Projects and Todo Styles */
span.todoItem {
    font-size: .7em;
}

h3.projectTitle {
    cursor: pointer;
}

ul.history li {
    padding-bottom: 10px;
}

.done-true {
    text-decoration: line-through;
}

.project {
    border: 1px solid $border;
    border-radius: 5px;
    margin-top: 10px;

    .title {
        margin-top: 0px;
        padding: 0px 5px 0px 5px;
        text-align: center;
        background-color: $theme1;
        h3 {
            margin-top: 0;
        }
    }
    .addIcon {
        cursor: pointer;
    }
    ul {
        padding: 0 5px 0 5px;
        li {
            font-size: 1.5em;
        }
    }
}
